* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: transparent;
  background-attachment: fixed;
  background-position: center;
  font-weight: 200px;
  font-family: 'Playfair Display', serif;
  font-family: 'Lora', serif;
  font-family: 'Muli', sans-serif;
  color: white;
}
.navbar-navHeader {
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to left,
    rgb(49, 121, 131),
    rgb(112, 90, 90)
  );
  border-radius: 0 0 5px 5px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.842);
  padding: 20px;
}

.navbar-logo {
  color: white;
  height: 35px;
  float: left;
  font-weight: bold;
  margin-left: 1%;
  font-size: 24px;
  font-stretch: extra-expanded;
}

.navbar-link {
  padding: 0 50px;
  color: white;
  margin-right: 3rem;
}

.navbar-toggle {
  border-style: none;
  font-size: 1.5em;
  text-align: center;
  color: whitesmoke;
}

